
<div class="container">

  <hr>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-span-12">
          <p class="small">
            <a href="http://www.isel.pt/" target="_blank">ISEL - Instituto Superior de Engenharia de Lisboa</a><br/>
            <a href="http://www.adeetc.isel.pt/pt/" target="_blank">Área Departamental de Engenharia de Electrónica e
              Telecomunicações e de Computadores</a><br/>
            <a href="http://www.adeetc.isel.pt/pt/leic/" target="_blank">LEIC - Licenciatura em Engenharia Informática e
              Computadores</a><br/>
            <a href="http://thoth.cc.e.ipl.pt/classes/PI/" target="_blank">Programação na Internet</a><br/>
            <a href="http://thoth.cc.e.ipl.pt/classes/PI/1314i/" target="_blank">2013-2014, Semestre de Inverno</a><br/>
            <a href="http://thoth.cc.e.ipl.pt/classes/PI/1314i/LI51N/" target="_blank">Turma LI51N</a><br/>
            Grupo 05<br/>
            <a href="http://thoth.cc.e.ipl.pt/classes/PI/1314i/LI51N/workitems/772/document" target="_blank">Trabalho
              Final</a><br/>
            © <%= author %> 2013
          </p>

          <p class="text-center">
            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/" target="_blank"><img
                alt="Creative Commons License" style="border-width:0"
                src="http://i.creativecommons.org/l/by/3.0/88x31.png"/></a><br/>This work is licensed under a <a
              rel="license" href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons
              Attribution 3.0 Unported License</a>.
          </p>
        </div>
      </div>
    </div>
  </footer>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/jquery/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
    $('.carousel').carousel();
  }); // end document.ready
</script>

</body>
</html>
